{
  "presets": [["@babel/env", { "modules": false }], "@babel/react"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["."],
        "alias": {
          "swiss-react": "../dist/es/index"
        }
      }
    ],
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
